<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Application Mobile Development</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Centennial College's Mobile Applications Development program ensures you develop the necessary skills to enter the fast-growing
          mobile software applications ("apps") development market.
        </p>
        <p>
          In this graduate certificate program's Mobile Application Development courses, you learn to develop mobile apps for Google Android and Apple iOS devices. In addition to core fundamental courses, the offering covers advanced topics in mobile app development, web and enterprise technologies, user interface (UI), user experience (UX), emerging technologies and more.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>


      <ion-col>
        <ion-img src="assets/imgs/home.jpg"></ion-img>
      </ion-col>

      <ion-col>
      <ion-row>
          <ion-col>
            <h4>Program Details</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
             Program Code:
          </ion-col>
          <ion-col>
              3223
           </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                 Program Type:
              </ion-col>
              <ion-col>
                  Graduate Certificate Program
               </ion-col>
          </ion-row>
          <ion-row>
                  <ion-col>
                     Program Lenth:
                  </ion-col>
                  <ion-col>
                      1 Year/2 Semesters
                   </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                         Start Date:
                      </ion-col>
                      <ion-col>
                          Fall, 5th September
                       </ion-col>
                      </ion-row>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col>
              <h4>Program Highlights</h4>
          </ion-col>
    </ion-row>


    <ion-row>
        <ion-col>
            <ul>
              
                <li>
                  <p>You learn app development on Google Android and Apple iOS platforms, two of the most popular platforms today.</p>
                </li>

                <li>
                    <p>The program offers you experience in industry-standard technology.</p>
                  </li>

                  <li>
                      <p> Mobile Applications Development courses employ project based learning (capstone project).</p>
                    </li>
                    <li>
                        <p>Knowledgeable and approachable faculty members with diverse business experience and academic credentials teach the courses.</p>
                      </li>
              </ul>
        </ion-col>
      </ion-row>


    <ion-row>
    <ion-col>
          <h4>Admission Requirements</h4>
      </ion-col>
    </ion-row>



 <ion-row>
  <ion-col>
      <h5>Academic Requirements</h5>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
      <ul>
        
          <li *ngFor="let req of admissionRequirements">
            <p>{{req}}</p>
          </li>
        </ul>
  </ion-col>
</ion-row>



<ion-row>
<ion-col>
  <h5>Additional Requirements</h5>
</ion-col>
</ion-row>

<ion-row>
<ion-col>
  <ul>
    
      <li *ngFor="let req of additionalRequirements">
        <p>{{req}}</p>
      </li>
    </ul>
</ion-col>
</ion-row>


  </ion-grid>

</ion-content>